:root {
  --primary-text-color: #757575;
  --title-text-color: #ffffff;
  --titlesection-text-color: #212121;
  --logo-text-color: #000000;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --background-title-color: #2f303a;
  --btn-bcg-color: #f5f4fa;
}

body {
  background-color: E5E5E5;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

.link {
  color: var(--titlesection-text-color);
  text-decoration: none;
}

.link-current {
  color: var(--accent-color);
  text-decoration: none;
}

/* header */
/* logo */
.logo {
  color: var(--logo-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: Raleway, sans-serif;
  text-decoration: none;
}

.logo-part {
  color: var(--accent-color);
}

/* nav */
.site-nav {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav:hover,
.site-nav:focus {
  color: var(--accent-color);
}

/* contacts */
.contacts {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* hero */
.title {
  background-color: var(--background-title-color);
  color: var(--title-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

/* button hero*/
.button {
  background-color: var(--accent-color);
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* directions of work */
.section-title {
  color: var(--titlesection-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  font-size: 14px;
  line-height: 1.71;
}

/* team */
.section-heading {
  color: var(--titlesection-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-team {
  color: var(--titlesection-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.position {
  font-size: 16px;
  line-height: 1.19;
}

/* footer */
.footer {
  background-color: var(--background-title-color);
}

.address {
  color: var(--title-text-color);
}

.contacts-ftr {
  color: var(--contacts-color);
  text-decoration: none;
}

.contacts-ftr:hover,
.contacts-ftr:focus {
  color: var(--accent-color);
}

.logo-two {
  color: var(--title-text-color);
}

/* portfolio */
.btn {
  background-color: var(--btn-bcg-color);
  color: var(--titlesection-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--title-text-color);
  background-color: var(--accent-color);
}

.link-portf {
  color: var(--accent-color);
  text-decoration: none;
}

.section-subject {
  color: var(--titlesection-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.desc {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
}
